body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.calculator{
    border: solid black;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
}

footer{
    position: absolute;
    bottom: 0;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
}

.display .top{
    min-height: 75px;
    margin-left: auto;
    font-size: 25px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.display .bottom{
    min-height: 100px;
    margin-left: auto;
    font-size: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

button{
    width: 92.5px;
    height: 50px;
    font-size: large;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button:hover {
    background-image: linear-gradient(rgba(139, 139, 139, 0.4) 0 0);
}

.clear,
.delete{
    width: 195px;
}

.clear{
    background-color: rgb(247, 192, 192);
}

.delete{
    background-color: rgb(183, 183, 255);
}

.divide, .multiply, .subtract, .add, .equals{
    background-color: rgb(209, 209, 209);
}

.keys,
.buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons{
    padding-top: 20px;
}